*{
    box-sizing: border-box;
}
body{
    background-color: #EEE;
    font-family: 'Lato', Helvetica, Arial;
    font-size: 15px;
    display: flex;
    margin: 0;
    min-height: 100vh;
}
a{
    text-decoration: none;
}
.models{
    display: none;
}

header{
    position: fixed;
    left:0;
    top:0;
    right:0;
    height: 60px;
    background-color: #399ade;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    align-items: center;
    font-family: 'Hepta Slab', Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.header .logo{
    display: none;
}
.header .logo, .home{
    padding: 5px 20px;
    border-radius: 4px;
    background-color: #a9dcff;
    color: #000;
}
.menu-openner{
    margin-right: 15px;
    font-size: 26px;
    background-color: #a9dcff;
    padding: 5px 20px;
    border-radius: 5px;
}
.menu-openner span{
    margin-right: 10px;
}
.menu-closer{
    width: 32px;
    height: 32px;
    display: none;
    font-size: 30px;
}

aside{
    background-color: #9ccbe6;
    width: 0vw;
    font-family: 'Hepta Slab', Arial, Helvetica, sans-serif;
    transition: all ease .2s;
    overflow-x: hidden;
}
aside.show{
    width: 30vw;
}
.cart--area{
    padding: 20px;
}
main{
    flex: 1;
    padding: 20px;
}
h1{
    margin: 50px;
    font-family: 'Hepta Slab', Arial, Helvetica, sans-serif;
}
.fashion-area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fashion-item{
    text-align: center;
    max-width: 250px;
    font-family: 'Hepta Slab', Arial, Helvetica, sans-serif;
    margin: 0 auto 50px auto;
}
.fashion-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fashion-item--img{
    width: 200px;
    height: 200px;
    background-color: #EEE;
    border-radius: 100px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}
.fashion-item--img img{
    width: 100%;
    object-fit: contain;
    height: auto;
}
.fashion-item--add{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #999;
    text-align: center;
    color: #FFF;
    font-size: 22px;
    cursor: pointer;
    margin-top: -25px;
    transition: all ease .2s;
}
.fashion-item a:hover .fashion-item--add{
    background-color: #888;
}
.fashion-item--price{
    font-size: 15px;
    color: #333;
    margin-top: 5px;
}
.fashion-item--name{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}
.fashion-item--desc{
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}

.fashionWindowArea{
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.fashionWindowBody{
    width: 900px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin: 20px 0px;
}
.fashionBig{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fashionBig--back{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
}
.fashionBig img{
    height: 400px;
    width: auto;
}
.fashionInfo{
    flex:1;
    font-family: 'Hepta Slab', Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
.fashionInfo h1{
    margin-top: 50px;
}
.fashionInfo .fashionInfo--desc{
    font-size: 15px;
    color: #999;
    margin-top: 10px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}
.fashionInfo--sector{
    color: #CCC;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.fashionInfo--sizes,
.sizebay-area{
    display: inline-flex;
    border-radius: 10px;
    overflow: hidden;
}
.fashionInfo--size,
.sizebay{
    padding: 10px 15px;
    color: #000;
    background-color: #EEE;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.sizebay-area{
    margin: 30px 0 0 0;
}
.fashionInfo--size:hover,.sizebay:hover{
    background-color: #CCC;
}
.fashionInfo--size.selected{
    background-color: #399ade;
    color: #FFF;
}
.fashionInfo--size.selected span{
    color: #D6D6D6;
}
.fashionInfo--size span{
    font-size: 12px;
    color: #999;
    font-weight: normal;
}
.fashionInfo--price{
    display: flex;
    align-items: center;
}
.fashionInfo--actualPrice{
    font-size: 28px;
    margin-right: 30px;
}
.fashionInfo--qtarea{
    display: inline-flex;
    background-color: #EEE;
    border-radius: 10px;
    height: 30px;
}
.fashionInfo--qtarea button{
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: #333;
}
.fashionInfo--qt{
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000;
}
.fashionInfo--addButton{
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #48D05F;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}
.fashionInfo--addButton:hover{
    background-color: #32A345;
}
.fashionInfo--cancelButton{
    display: inline-block;
    cursor: pointer;
}
.fashionInfo--cancelMobileButton{
    display: none;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}
.cart{
    margin-bottom: 20px;
}
.cart--item{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.cart--item img{
    width: 40px;
    height: 40px;
    margin-top: 2px;
    margin-right: 20px;
}
.cart--item-nome{
    flex: 1;
}
.cart--item--qtarea{
    display: inline-flex;
    background-color: #EEE;
    border-radius: 10px;
    height: 30px;
}
.cart--item--qtarea button{
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: #333;
}
.cart--item--qt{
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000;
}
.cart--totalitem{
    padding: 15px 0;
    border-top: 1px solid #79B9DD;
    color: #315970;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.cart--totalitem span:first-child{
    font-weight: bold;
}
.cart--totalitem.big{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.cart--finalizar{
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #48D05F;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #63F77C;
    transition: all ease .2s;
}
.cart--finalizar:hover{
    background-color: #35AF4A;
}

@media(max-width:1000px){
    .fashion-area{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:840px){
    body{
        flex-direction: column;
    }
    .fashion-area{
        display: block;
    }
    .fashion-item{
        max-width: 100%;
    }
    header{
        display: flex;
    }
    main{
        padding-top: 60px;
    }
    
    aside{
        width: auto;
        position: fixed;
        left: 100vw;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all ease .2s;
    }
    aside.show{
        width: auto;
    }
    .cart--area{
        width: 100vw;
    }

    .menu-closer{
        display: block;
    }

    .fashionWindowArea{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .fashionWindowBody{
        width: 100vw;
        display: block;
        padding: 20px;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    .fashionBig img{
        width: 75%;
        height: auto;
    }
    
    .fashionInfo h1{
        margin-top: 20px;
    }

    .fashionInfo--qtarea{
        height: 60px;
    }
    .fashionInfo--qtarea button{
        font-size: 25px;
        padding: 0 25px;
    }
    .fashionInfo--qt{
        line-height: 60px;
        font-size: 20px;
    }
    .fashionInfo--addButton{
        font-size: 20px;
        display: block;
        text-align: center;
        margin: 30px auto;
    }

    .fashionInfo--cancelButton{
        display: none;
    }
    .fashionInfo--cancelMobileButton{
        display: block;
    }
}